  {% extends "header.html" %} 
  
  {% block content %} 
  
  <!-- body-content -->
<div class="body-content">
<div class="container">
<!-- thirds -->
<div class="row" style="padding-bottom: 10px;">
    <div class="col-md-8">
       <div class="adc">
         <h4>{{offers_desc}}</h4>
       </div>
       <div class="adc clearfix" style="padding-bottom:10px">
         <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info active">
              <input type="radio" name="options" id="show_all"> All <span id="all_count"></span>
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="show_deals"> Deals <span id="deals_count"></span>
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="show_coupons"> Coupons <span id="coupons_count"></span>
            </label>
         </div>
       </div>
    
      {% for offer in offers %}
         <div class="item col-md-3" data-offer-type="{{offer.offer_type}}" >
           <div class="item-inner" itemscope="" itemtype="http://schema.org/Offer">
             <div class="item-title">
               <a href="/offer?oid={{offer.key().id()}}"><h5 itemprop="name">{{offer.title}}</h5></a>
             </div>
             <div class="item-header">
             <meta itemprop="seller" content="{{offer.store}}" />
               {% if offer.image_link %}
               <img src="{{offer.image_link}}" alt="{{offer.store}}" />
               {% elif offer.blob_key%}
                 <img src="/view_photo/{{offer.blob_key.key()}}" alt="{{offer.store}}" />
               {% else %}
                 {%for store in stores%}
                   {% if store.store == offer.store%}
                   <img src="/view_photo/{{store.blob_key.key()}}" alt="{{store.store}}" />
                   <meta itemprop="seller" content="{{store.store}}" />
                   {% endif %}
                 {% endfor %}
               {% endif %}
             </div>
             
             <p itemprop="description">{{offer.description}}</p>
             <div class="item-footer clearfix">
               <meta itemprop="priceCurrency" content="INR" />
               <div class="item-left1">
               <span class="glyphicon glyphicon-time"></span> <span class="expires-on" itemprop="availabilityEnds">
               &nbsp;{{offer.expiry}}
               </span>
               </div>
               <div class="item-right1">
               <span class="glyphicon glyphicon-envelope"></span> <span class="posted_on">&nbsp;{{offer.posted_on}}</span>
               </div>
             </div>
             <div class="item-button"> 
             <a class="btn btn-info" data-key="{{offer.key()}}" data-link="{{offer.aff_link}}" data-code="{{offer.coupon_code}}">View {{offer.offer_type}} &gt;&gt;</a> 
             </div>
             <meta itemprop="url" content="{{offer.aff_link}}" />
           </div><!-- Item Inner -->
         </div><!-- Item -->
      {% endfor%}
       <div class="col-md-12" style="text-align: center;">
         <ul class="pagination">
            {% if page_no!=1: %}
            {% if count_pages==1 or page_no==1: %}
            <li><a href="{{link}}page={{1}}">&laquo;</a></li>
            {% elif page_no==1: %}
            <li><a href="#">&laquo;</a></li>
            {% else: %}
            <li><a href="{{link}}page={{page_no-1}}">&laquo;</a></li>
            {% endif %}
            {% else: %}
            <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}
            
            {% for i in range(count_pages): %}
            {% if i==page_no-1: %}
            <li class="active"><a href="#">{{i+1}}</a></li>
            {% else: %}
            <li><a href="{{link}}page={{i+1}}">{{i+1}}</a></li>
            {% endif %}
            {% endfor %}

            {% if count_pages!=page_no: %}
            {% if count_pages==1: %}
            <li><a href="{{link}}page={{1}}">&raquo;</a></li>
            {% else: %}
            <li><a href="{{link}}page={{page_no+1}}">&raquo;</a></li>
            {% endif %}
            {% elif count_pages==page_no: %}
            <li class="disabled"><a>&raquo;</a></li>
            {% endif %}
         </ul>
       </div><!-- End of Pagination Div -->
     </div><!-- End of Main COntent col-md-8 -->
    
       <div class="col-md-4  clearfix "><!--Sidebar col-md-4 -->
          <div class="social-media"><!-- Social Media -->
            <div class="kyo_twitter" class="hidden-xs" style="">
             <a href="https://twitter.com/KnowYourOffer" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow Us @twitter</a>
            </div>
            <div class="kyo_pinit">
              <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.knowyouroffers.in&media=http%3A%2F%2Fwww.knowyouroffers.in%2Fstatic%2Fimages%2Fpage-logo.jpg&description=Your%20Best%20Offers%20and%20Coupons%20SIte" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
              <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
            </div>
            <div class="fb-like hidden-xs" data-href="https://www.facebook.com/knowyouroffers" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
            </div>
            <div class="kyo_gplus">
                <div class="g-plusone" data-size="medium" data-count="true" href="http://www.knowyouroffers.in"></div>
            </div>
          </div><!-- Social Media -->
          {%for store in stores%}
              {% if store==current_store %}
              <!-- /store-->
                  <div id="current_store">
                    <a href="/store?store={{current_store.store}}">
                     <div class="widget-item">
                         <img src="/view_photo/{{store.blob_key.key()}}" alt="{{store.store}} Deals and Coupons" />
                         </div>
                         Deals {{store.deals_count}} : Coupons {{store.coupons_count}}
                    </a>
                    <div class="item-button"> 
                      <a class="btn btn-info" href="{{store.store_link}}" target="_blank">Visit Store &gt;&gt;</a>
                    </div>
                  </div>
                {% endif %}
          {%endfor%}
          
          <div class="list-group">
            <ul class="nav nav-sidebar">
              <a class="list-group-item active sidebar-header">Top Stores</a>
              {%for store in stores%}
                  <li>
                    <a href="/store?store={{store.store}}">
                     <div class="widget-item">
                         <img src="/view_photo/{{store.blob_key.key()}}" alt="{{store.store}} Deals and Coupons" />
                         </div>
                       {{store.store}} Deals {{store.deals_count}} : Coupons {{store.coupons_count}}
                    </a>
                  </li>
              {% endfor %}
            </ul>
         </div><!--End of List Group -->
        
       </div><!-- End of Sidebar col-md-4 -->
    </div>
    </div>
</div><!--/body-content-->
  
  
{% endblock %}